#calculator {
      font-size: larger;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 1px;

}
#answer {
      padding-top: 10px;
      margin: 0;
      padding-bottom: 0px;
}

h1 {
      padding: 20px;
      text-align: center;
}
.selected {
      background-color: black;
      color: white;
} 
div {
      padding: 20px;
      align-items: center;
      text-align: center;
}
body::after {
      content: "";
      background: url("../images/calculator.jpg");
      background-size : 100% auto;
      opacity: 0.04;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    
}